// Here you can add other styles
.c-header-nav-link, .c-header-toggler-icon {
  color: white !important;
}


// one to one with the arrays in utils/color.js
.text-green-0 {
  color: #80ff80;
}
.text-green-1 {
  color: #94d7bd;
}
.text-green-2 {
  color: #bbf780;
}
.text-green-3 {
  color: #4dff4d;
}
.text-green-4 {
  color: #69c6a3;
}
.text-green-5 {
  color: #9ff34d;
}
.text-green-6 {
  color: #1aff1a;
}
.text-green-7 {
  color: #3eb688;
}
.text-green-8 {
  color: #84f01a;
}
.text-green-9 {
  color: #00e600;
}
.text-green-10 {
  color: #249d6f;
}
.text-green-11 {
  color: #6ad600;
}
.text-green-12 {
  color: #00b300;
}
.text-green-13 {
  color: #1c7a56;
}
.text-green-14 {
  color: #53a700;
}
.text-green-15 {
  color: #008000;
}
.text-green-16 {
  color: #14573e;
}
.text-green-17 {
  color: #3b7700;
}
.text-red-0 {
  color: #ff8080;
}
.text-red-1 {
  color: #ee8a9e;
}
.text-red-2 {
  color: #d99191;
}
.text-red-3 {
  color: #ff4d4d;
}
.text-red-4 {
  color: #e75b77;
}
.text-red-5 {
  color: #c96464;
}
.text-red-6 {
  color: #ff1a1a;
}
.text-red-7 {
  color: #e02c50;
}
.text-red-8 {
  color: #ba3838;
}
.text-red-9 {
  color: #e60000;
}
.text-red-10 {
  color: #c61236;
}
.text-red-11 {
  color: #a01f1f;
}
.text-red-12 {
  color: #b30000;
}
.text-red-13 {
  color: #b01030;
}
.text-red-14 {
  color: #7d1818;
}
.text-red-15 {
  color: #800000;
}
.text-red-16 {
  color: #6e0a1e;
}
.text-red-17 {
  color: #591111;
}