// Variable overrides
$primary: #4638c2;
$secondary: #4c4f54;
$success: #45a164;
$warning: #d16767;
$warning: #e1a82d;
$info: #4799eb;
$light: #20202a;
$dark: #0f0f16;

$header-bg: #20202a;
$body-bg: #010000;